@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  overflow-x: hidden;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
header a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

header a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #00264a;
  height: 80px;
}

header main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
  z-index: 2;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 3px;
  background: #ff671d;
  margin: 7px;
  transition: 0.3s;
}

@media (max-width: 999px) {
  .nav-list {
    position: absolute;
    top: 14vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background: #00264a;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    padding-top: 31px;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
    margin-left: 61px;
    padding-bottom: 36px;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.logo {
  width: 93px;
}

.wpp-logo-top {
  width: 20px;
}

.wpp-blue {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-blue {
  background-color: #0091ca;
}
.content-blue {
  display: flex;
  font-size: clamp(0.7em, 3.4vw, 1em);
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 7px 0px;
  color: white;
  text-shadow: 0px 2px 6px #07365d;
}
.number {
  margin-right: 5px;
}
.circle img {
  width: 20px;
}
.circle {
  display: flex;
  padding: 0px 3px;
}

.father-top {
  background-image: url(elements-resized/resiz.jpg);
  height: 550px;
  background-repeat: no-repeat;
}

@media (max-width: 830px) {
  .wpp-logo-top,
  .number {
    display: none;
  }
  .father-top {
    background-position: top center;
  }
}
.father-top {
  width: 100%;
  color: white;
}
.box-top {
  width: 80%;
  margin: 0 auto;
  padding-top: 59px;
  text-shadow: 3px 4px 4px #0a5c7d;
}
.box-top h1 {
  font-size: clamp(2.7em, 1em + 5.4vw, 5em);
  font-weight: 400;
  line-height: 54px;
}
.widt-h1 {
  width: 85%;
}

.widt-h1 p {
  font-weight: 300;
  font-size: clamp(0.8em, 3.4vw, 4em);
  padding-top: 13px;
}
.btn a {
  text-decoration: none;
  color: white;
  padding: 8px 13px;
  background-color: #ff671d;
  border-radius: 5px;
  text-shadow: none;
}
.btn {
  margin-top: 32px;
}

.imgs-about {
  width: 118px;
  height: 132px;
  background-color: #ffffff;
  box-shadow: 0px 0px 11px 1px #c9c7c7;
  padding: 8px;
}
.a1 {
  position: relative;
  left: -91px;
}
.a2 {
  position: relative;
  left: 87px;
  top: -47px;
}
.a3 {
  position: relative;
  top: -95px;
  left: -69px;
}

.circle-blue {
  position: relative;
  top: -233px;
  z-index: -2;
  right: -14px;
}

.circle-blue2 {
  width: 232px;
}

.img-a {
  background-image: url(elements-resized/q-3r.jpg);
  background-repeat: no-repeat;
  background-color: #ff671d;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.img-b {
  background-image: url(elements-resized/q-2r.jpg);
  background-repeat: no-repeat;
  background-color: #ff671d;
  width: 100%;
  height: 100%;
  background-size: cover;
}
.img-c {
  background-image: url(elements-resized/q-1r.jpg);
  background-repeat: no-repeat;
  background-color: #ff671d;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.about {
  width: 100%;
}
.content-about {
  width: 80%;
  margin: 108px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.text-about h1 {
  color: #00264a;
  margin-bottom: 20px;
}

.letters-choice h1 {
  color: #00264a;
  margin-bottom: 20px;
}

/* .letters-choice {
  margin-bottom: 100px;
} */

.father-choice {
  width: 80%;
  margin: 108px auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0px;
}

.why-choice {
  width: 100%;
}

.icon-bene {
  display: flex;
  align-items: flex-start;
  font-weight: 300;
}

.icon-bene img {
  margin-right: 10px;
}

.letters-choice p {
  margin-bottom: 30px;
}
.letters-choice a {
  text-decoration: none;
  color: white;
  padding: 8px 13px;
  background-color: #ff671d;
  border-radius: 5px;
  text-shadow: none;
}

.bene2 {
  margin-bottom: 20px;
}

.img-selo {
  position: relative;
  margin-top: 73px;
  left: -6px;
  z-index: -1;
}

.img-selo img {
  width: 200px;
}

.box-selo {
  background-color: #00264a;
  padding: 15px;
  color: white;
  font-size: 10px;
  width: 119px;
  height: 69px;
  position: relative;
  left: -60px;
  top: 374px;
}
.box-selo img {
  width: 20px;
}
.img-choice {
}

.box-selo p {
  font-size: 8px;
}

.img-led img {
  width: 297px;
  margin: 0 auto;
  display: flex;
  margin-bottom: 37px;
}
.pool-led {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 200px;
}
.content-led {
  width: 80%;
  margin: 0 auto;
}
.letters-led {
  background-color: #00264a;
  color: white;
  padding: 50px 25px;
}
.letters-led p {
  font-weight: 200;
  margin-bottom: 34px;
}

.letters-led h1 {
  margin-bottom: 34px;
}

.content-led a {
  padding: 8px;
  background-color: #ff671d;
  text-decoration: none;
  color: white;
  border-radius: 10px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00264a;
  color: white;
}
.content-footer {
  width: 80%;
  margin: 0 auto;
  padding-top: 76px;
}

.logo-about img {
  margin-bottom: 22px;
}
.content-footer p {
  font-weight: 300;
}

.social-medias img {
  width: 25px;
  padding-right: 10px;
  margin-top: 30px;
}

.line-h {
  border: none;
  border-top: 1px solid white;
  margin: 20px 0;
}
.pages {
  padding-top: 20px;
}
.pages h2 {
  padding-bottom: 40px;
}
.links-footer {
  display: grid;
}
.links-footer a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  padding-bottom: 20px;
}

.contact-footer {
  padding-top: 20px;
  padding-bottom: 100px;
}

.contact-footer h2 {
  padding-bottom: 40px;
}
.icons-cont {
  display: flex;
  margin-bottom: 20px;
}
.icons-cont img {
  width: 24px;
  margin-right: 10px;
}
.copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00264a;
  color: white;
}
.content-copy {
  width: 80%;
  margin: 0 auto;
}
.content-copy p {
  font-size: 11px;
  font-weight: 200;
  padding-bottom: 10px;
  text-align: center;
}

/* .father-top {
  height: 652px;
  background-repeat: no-repeat;
  background-size: cover;
} */

@media (min-width: 518px) {
  .father-top {
    height: 702px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
  }
  .widt-h1 {
    max-width: 468px;
  }
  .box-top h1 {
    line-height: 83px;
    font-size: clamp(2.7em, 1em + 5.4vw, 4em);
    text-shadow: 6px 5px 10px #002651;
  }
  .widt-h1 p {
    font-size: clamp(0.8em, 3.4vw, 1em);
  }
  .btn {
    margin-top: 54px;
  }
  .box-top {
    width: 75%;
  }
  .content-blue {
    width: 67%;
    justify-content: space-between;
  }
  .btn-ctt {
    padding: 7px 9px;
    background-color: #ff671d;
    border-radius: 7px;
  }
  .number {
    margin-right: 44px;
  }
  .circle img {
    width: 23px;
    margin-right: 10px;
  }
  .wpp-logo-top {
    width: 20px;
    margin-right: 6px;
  }
  .nav-list a {
    letter-spacing: 2px;
  }
  .content-about {
    width: 80%;
    margin: 208px auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: inherit;
  }

  .text-about {
    width: 100%;
    min-width: 414px;
    position: relative;
    padding: 40px;
    left: 0px;
  }
  .a1 {
    position: relative;
    left: 106px;
    bottom: -251px;
  }
  .a2 {
    position: relative;
    left: -99px;
    top: -92px;
  }
  .a3 {
    position: relative;
    top: -78px;
    left: -113px;
  }
  .circle-blue {
    position: relative;
    top: -277px;
    z-index: -2;
    right: -68px;
  }
  .imgs-about {
    width: 180px;
    height: 180px;
    min-width: 148px;
    min-height: 148px;
  }
  .box-selo {
    width: 119px;
    position: relative;
    left: -90px;
    top: 374px;
  }
  .father-choice {
    margin-bottom: 200px;
  }
}
@media (min-width: 825px) {
  .img-selo img {
    width: 300px;
  }
  .box-selo {
    width: 128px;
    position: relative;
    left: -90px;
    top: 525px;
  }
  .box-selo p {
    font-size: 10px;
  }
}

@media (min-width: 1126px) {
  .text-about {
    left: 58px;
  }
  .text-about {
    width: 32%;
    min-width: 414px;
    position: relative;
    padding: 40px;
    left: 0px;
    margin-left: 50px;
  }
  .father-choice {
    flex-direction: initial;
    justify-content: space-evenly;
    max-width: 2000px;
  }
  .letters-choice {
    width: 45%;
  }
  .content-about {
    max-width: 2000px;
  }
  .father-top {
    max-width: 2000px;
    margin: 0 auto;
  }
  header {
    max-width: 2000px;
    margin: 0 auto;
  }
}

@media (max-width: 1126px) {
  .content-about {
    flex-direction: column;
  }
  .letters-choice {
    width: 100%;
  }
}
