@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
}
* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}
header a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

header a:hover {
  opacity: 0.7;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
}

header nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #00264a;
  height: 80px;
}

header main {
  background: url("bg.jpg") no-repeat center center;
  background-size: cover;
  height: 92vh;
}

.nav-list {
  list-style: none;
  display: flex;
  z-index: 2;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 32px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 3px;
  background: #ff671d;
  margin: 7px;
  transition: 0.3s;
}
.btn-ctt {
  padding: 7px 9px;
  background-color: #ff671d;
  border-radius: 7px;
}
@media (max-width: 999px) {
  .nav-list {
    position: absolute;
    top: 12vh;
    right: 0;
    width: 100vw;
    height: 92vh;
    background: #00264a;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    padding-top: 31px;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
    margin-left: 61px;
    padding-bottom: 36px;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

.logo {
  width: 93px;
}

.wpp-logo-top {
  width: 20px;
}
.logo-about img {
  width: 190px;
}
.wpp-blue {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-blue {
  background-color: #0091ca;
}
.content-blue {
  display: flex;
  font-size: clamp(0.7em, 2.4vw, 1em);
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  padding: 7px 0px;
  color: white;
  text-shadow: 0px 2px 6px #07365d;
}
.number {
  margin-right: 5px;
}
.circle img {
  width: 20px;
}
.circle {
  display: flex;
  padding: 0px 3px;
}

.father-top {
  background-image: url(elements-resized/resiz.jpg);
  height: 550px;
  background-repeat: no-repeat;
}

@media (max-width: 999px) {
  .nav-list {
    top: 13vh;
  }
}

h1 {
  font-size: clamp(1em, 1em + 3.4vw, 3em);
  color: #ff671d;
  margin-top: 50px;
  margin-bottom: 16px;
}

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #00264a;
  color: white;
}
.content-footer {
  width: 80%;
  margin: 0 auto;
  padding-top: 76px;
}
.content-footer p {
  font-weight: 300;
}
.links-footer {
  display: grid;
}
.links-footer a {
  text-decoration: none;
  color: white;
  font-weight: 300;
  padding-bottom: 20px;
}

.contact-footer {
  padding-top: 20px;
  padding-bottom: 100px;
}

.contact-footer h2 {
  padding-bottom: 40px;
}
.icons-cont {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
}
.icons-cont img {
  width: 24px;
  margin-right: 10px;
}
.copyright {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00264a;
  color: white;
}
.content-copy {
  width: 80%;
  margin: 0 auto;
}
.content-copy p {
  font-size: 11px;
  font-weight: 200;
  padding-bottom: 10px;
  text-align: center;
}
.footer {
  max-width: 2000px;
  margin: 0 auto;
}
.social-medias img {
  width: 25px;
  padding-right: 10px;
  margin-top: 30px;
}
hr {
  margin-top: 11px;
}
.pages {
  padding-top: 20px;
}
.pages h2 {
  padding-bottom: 10px;
}

@media (min-width: 1126px) {
  .box-cat {
    display: flex;
    justify-content: center;
    gap: 300px;
  }
  .pisc {
    width: initial !important;
  }
  .box-cat img {
    width: 352px;
    margin: initial !important;
    padding-bottom: 100px;
  }
  .content-footer {
    display: flex;
    padding-bottom: 87px;
  }
  .content-video {
    display: flex;
    gap: 100px;
    justify-content: center;
  }
  .descp-piscina {
    padding-top: 1px !important;
  }
  .logo-about,
  .pages,
  .contact-footer {
    flex-grow: 1;
    min-width: 0;
    width: 33.3%;
    margin: 0 auto;
    display: grid;
    justify-content: space-around;
  }
  .content-footer {
    width: 70%;
  }
  hr {
    display: none;
  }
}

@media (max-width: 530px) {
  .content-blue {
    display: flex;
    font-size: clamp(0.5em, 2.4vw, 1em);
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
    padding: 7px 0px;
    color: white;
    text-shadow: 0px 2px 6px #07365d;
  }
}
.top-home {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}
.content-top-home {
  width: 80%;
  margin: 0 auto;
}

.content-top-home div {
  display: flex;
  font-size: 14px;
  font-weight: 300;
}
.flang {
  margin-left: 6px;
  font-weight: 500;
}

.content-top-home div p {
  margin-top: 20px;
}
.letter-conf {
  width: 100%;
  margin: 0 auto;
  max-width: 2000px;
}
.box-conf {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.father-item {
  width: 100%;
  margin: 0 auto;
  max-width: 2000px;
}
.content-item {
  width: 80%;
  margin: 0 auto;
  padding-top: 33px;
}
.escada {
  width: 300px;
}
.item {
  padding-bottom: 91px;
}
.description {
  font-weight: 400;
  padding-bottom: 100px;
  max-width: 1207px;
  line-height: 30px;
}
.dscp2 {
  text-align: center;
}
.content-video {
  text-align: center;
  padding-bottom: 100px;
}
.item img {
  margin: 0 auto;
  text-align: center;
  display: flex;
}
.piscc {
  width: 30vw;
  min-width: 299px;
}
.content-led img {
  height: 281px;
  width: 425px;
}
.father-led {
  width: 100%;
  margin: 0 auto;
  max-width: 2000px;
}
.content-led {
  width: 80%;
  /* text-align: center; */
  margin: 0 auto;
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-bottom: 200px;
}
a {
  text-decoration: none;
  color: #00264a;
}
.pdt {
  margin-left: 7px;
}

iframe {
  width: 50%;
  height: 300px;
  min-width: 342px;
  max-width: 715px;
}
@media (min-width: 1026px) {
  .content-item {
    display: flex;
    justify-content: center;
    gap: 100px;
  }
  .description {
    font-size: 19px;
  }
  iframe {
    width: 700px;
    height: 400px;
    min-width: initial;
    max-width: initial;
  }

  .father-item {
    padding-bottom: 78px;
  }
  .video {
    padding-bottom: 100px;
  }
}
.piscina {
  width: 21vw;
  min-width: 300px;
}
.descp-piscina {
  font-weight: 400;
  padding-bottom: 50px;
  max-width: 600px;
  line-height: 36px;
  padding-top: 100px;
  text-align: left;
  font-size: 19px;
}
.video {
  width: 100%;
  margin: 0 auto;
  max-width: 2000px;
}
.content-video {
  width: 80%;
  margin: 0 auto;
}
.btn-e {
  padding: 8px 10px;
  background-color: #ff671d;
  width: 141px;
  border-radius: 7px;
  color: white;
}

.box-cat img {
  width: 352px;
  margin: 0 auto;
  display: flex;
  padding-bottom: 100px;
}
@media (max-width: 996px) {
  .content-led {
    display: block;
    text-align: center;
  }
  .content-led img {
    height: 249px;
    width: 306px;
    padding-bottom: 20px;
  }
  .scd {
    height: 300px !important;
    width: 306px !important;
    padding-bottom: 20px;
  }
  .grl {
    height: 306px !important;
    width: 306px !important;
  }
  .content-sauna {
    width: 100%;
  }
  .img-sauna {
    margin: 0 auto;
  }
}

@media (min-width: 996px) {
  .scd {
    height: initial !important;
    width: initial !important;
  }
  .grl {
    width: 500px !important;
    height: 500px !important;
  }
  .csc {
    width: 430px !important;
    height: 400px !important;
  }
  .content-sauna {
    width: 80%;
    display: flex;
    justify-content: left;
    gap: 100px;
  }
  .letters-sauna p {
    width: 600px;
  }
  .img-sauna {
    width: 174px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: initial;
  }
  .cerc {
    width: 300px !important;
  }
}
.float-wpp {
  position: fixed;
  bottom: 22px;
  right: 29px;
}
.rev-video {
  width: 70vw;
  margin: 0 auto;
  max-width: 400px;
}
.vflange {
  width: 100%;
}
.img-sauna {
  width: 257px !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-sauna-2 {
  width: 185px !important;
}
.sauna1 {
  width: 80%;
  margin: 0 auto;
  max-width: 2000px;
}
.content-sauna {
  margin: 0 auto;
  padding-bottom: 150px;
}
.img-cerc {
  width: 305px;
}

.father-filter {
  width: 100%;
  margin: 0 auto;
  max-width: 2000px;
}
.ctt-filter {
  width: 80%;
  margin: 0 auto;
  display: flex;
  padding-bottom: 60px;
}
.ctt-filter img {
  width: 81vw;
  margin: 0 auto;
  max-width: 1000px;
}
.child-bene {
  width: 80%;
  margin: 0 auto;
  font-weight: 500;
  color: #ff671d;
  padding-bottom: 100px;
}

